        .bee-row,
		.bee-row-content {
			position: relative
		}

		.bee-row-1 .bee-row-content,
		.bee-row-2 .bee-row-content,
		.bee-row-3 .bee-row-content,
		.bee-row-4 .bee-row-content {
			background-color: #ced4da;
			background-repeat: no-repeat;
			color: #000
		}

		body {
			background-color: #ced4da;
			color: #000;
			font-family: Arial, Helvetica Neue, Helvetica, sans-serif
		}

		a {
			color: #8a3c90
		}

		* {
			box-sizing: border-box
		}

		body,
		p {
			margin: 0
		}

		.bee-row-content {
			max-width: 1025px;
			margin: 0 auto;
			display: flex
		}

		.bee-row-content .bee-col-w2 {
			flex-basis: 17%
		}

		.bee-row-content .bee-col-w3 {
			flex-basis: 25%
		}

		.bee-row-content .bee-col-w8 {
			flex-basis: 67%
		}

		.bee-row-content .bee-col-w12 {
			flex-basis: 100%
		}

		.bee-icon .bee-icon-label-right a {
			text-decoration: none
		}

		.bee-image {
			overflow: auto
		}

		.bee-image .bee-center {
			margin: 0 auto
		}

		.bee-icon {
			display: inline-block;
			vertical-align: middle
		}

		.bee-icon .bee-content {
			display: flex;
			align-items: center
		}

		.bee-image img {
			display: block;
			width: 100%
		}

		.bee-paragraph {
			overflow-wrap: anywhere
		}

		.bee-row-1,
		.bee-row-2,
		.bee-row-3,
		.bee-row-4,
		.bee-row-5,
		.bee-row-6 {
			background-repeat: no-repeat
		}

		.bee-row-1 .bee-col-1 .bee-block-1 {
			padding-bottom: 30px;
			padding-top: 30px
		}

		.bee-row-2 .bee-col-2 .bee-block-1 {
			padding-bottom: 30px;
			padding-left: 10px;
			padding-right: 10px
		}

		.bee-row-3 .bee-row-content,
		.bee-row-4 .bee-row-content {
			border-radius: 0
		}

		.bee-row-3 .bee-col-1 .bee-block-1,
		.bee-row-3 .bee-col-2 .bee-block-1,
		.bee-row-3 .bee-col-3 .bee-block-1,
		.bee-row-3 .bee-col-4 .bee-block-1 {
			padding-top: 30px;
			width: 100%
		}

		.bee-row-3 .bee-col-1 .bee-block-3,
		.bee-row-3 .bee-col-2 .bee-block-2,
		.bee-row-3 .bee-col-3 .bee-block-2,
		.bee-row-3 .bee-col-4 .bee-block-2 {
			padding: 10px
		}

		.bee-row-6 .bee-col-1,
		.bee-row-6 .bee-col-1 .bee-block-1 {
			padding-bottom: 5px;
			padding-top: 5px
		}

		.bee-row-5 .bee-row-content {
			background-color: #fff;
			background-repeat: no-repeat;
			border-radius: 0;
			color: #000
		}

		.bee-row-6 .bee-row-content {
			background-repeat: no-repeat;
			color: #000
		}

		.bee-row-6 .bee-col-1 .bee-block-1 {
			color: #9d9d9d;
			font-family: inherit;
			font-size: 15px;
			text-align: center
		}

		.bee-row-2 .bee-col-2 .bee-block-1 {
			color: #3c3c3c;
			direction: ltr;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0;
			line-height: 120%;
			text-align: center
		}

		.bee-row-1 .bee-col-1 .bee-block-1 a,
		.bee-row-2 .bee-col-2 .bee-block-1 a,
		.bee-row-3 .bee-col-1 .bee-block-3 a,
		.bee-row-3 .bee-col-2 .bee-block-2 a,
		.bee-row-3 .bee-col-3 .bee-block-2 a,
		.bee-row-3 .bee-col-4 .bee-block-2 a {
			color: #8a3b8f
		}

		.bee-row-1 .bee-col-1 .bee-block-1 p:not(:last-child),
		.bee-row-2 .bee-col-2 .bee-block-1 p:not(:last-child),
		.bee-row-3 .bee-col-1 .bee-block-3 p:not(:last-child),
		.bee-row-3 .bee-col-2 .bee-block-2 p:not(:last-child),
		.bee-row-3 .bee-col-3 .bee-block-2 p:not(:last-child),
		.bee-row-3 .bee-col-4 .bee-block-2 p:not(:last-child) {
			margin-bottom: 16px
		}

		.bee-row-1 .bee-col-1 .bee-block-1 {
			color: #393d47;
			direction: ltr;
			font-family: "Roboto Slab", Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 70px;
			font-weight: 700;
			letter-spacing: 0;
			line-height: 120%;
			text-align: center
		}

		@media (max-width:768px) {
			.bee-row-content:not(.no_stack) {
				display: block
			}

			.bee-row-1 .bee-col-1 .bee-block-1 {
				font-size: 60px !important
			}
		}

		.bee-row-3 .bee-col-1 .bee-block-3,
		.bee-row-3 .bee-col-2 .bee-block-2,
		.bee-row-3 .bee-col-3 .bee-block-2,
		.bee-row-3 .bee-col-4 .bee-block-2 {
			color: #393d47;
			direction: ltr;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 0;
			line-height: 120%;
			text-align: center
		}

		.bee-row-6 .bee-col-1 .bee-block-1 .bee-icon-image {
			padding: 5px 6px 5px 5px
		}